




    <footer class="text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2020 Copyright:
        </div>
        <div class="row text-center">
          <a href="/">
            <img src = "images/frogclipart.png"  style="height:100px" class="image_hover">
          </a>
        </div>
        <!-- Copyright -->
      </footer>

