<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="/styles.css" rel="stylesheet">
    <link href="/bootstrap.css" rel="stylesheet" >
</head>

<body>
    <div class="container-fluid background">
        <div class= "container background">

            <%- include('partials/navbar'); %>

            <div class= "container background">
                <div class = "row">
                    <h1> About The Frogburt Lab </h1>
                </div>
                <div class = "row">
                    <p class = "margin-all-50"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere tortor vitae tortor rutrum efficitur. Aliquam tincidunt erat augue, gravida tincidunt ipsum eleifend id. Sed vehicula lacus in tortor finibus dictum. In mollis, diam ac iaculis posuere, neque mi scelerisque arcu, venenatis accumsan tellus ex sed mauris. Aenean in placerat lacus. Mauris ornare viverra massa ut gravida. In tortor mauris, molestie nec pellentesque non, consectetur et urna. Proin eu sagittis velit, eget tempus lacus. Nam non iaculis quam. Sed vitae magna lobortis, consequat arcu ut, tincidunt erat.

Quisque viverra nunc velit, et imperdiet diam tincidunt ut. Curabitur accumsan arcu dui, id accumsan nulla volutpat at. Donec cursus tellus arcu, in tincidunt ligula imperdiet id. Nulla facilisi. Donec placerat lorem nec urna vestibulum vestibulum. Cras tristique sit amet ex in vestibulum. Duis est nulla, consequat vitae metus vitae, tincidunt condimentum dui. Donec tincidunt orci lobortis mi convallis, id iaculis ligula condimentum. Phasellus pharetra suscipit sapien.

Aliquam eget viverra ipsum. Proin accumsan dapibus interdum. Vivamus luctus laoreet arcu, id laoreet ipsum dapibus non. Phasellus accumsan sapien id urna ultrices, non efficitur velit imperdiet. Vestibulum maximus mattis egestas. Praesent congue elementum ligula vitae commodo. Suspendisse feugiat vulputate dolor eu porta. In ultricies mi non magna ultricies, eget pellentesque urna consequat. Nullam eu arcu aliquet, sagittis quam et, vestibulum magna.

Ut et arcu id lorem hendrerit pellentesque. Pellentesque sed ultrices diam, ut faucibus sem. Phasellus et eleifend lectus, in iaculis ligula. Integer nec volutpat eros, eget dictum nisi. Donec purus turpis, cursus eget ante accumsan, sollicitudin hendrerit neque. Aliquam consectetur fringilla sodales. Sed arcu nisl, condimentum in venenatis vel, volutpat iaculis ex. Suspendisse dapibus aliquet ipsum, a ultrices lorem mattis congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Sed et ante elit. Aliquam vehicula metus ac pretium posuere. Nunc egestas, augue in egestas ullamcorper, quam metus malesuada lorem, vel mattis mauris augue in sem. Vivamus posuere ultrices lectus. Mauris venenatis pellentesque tincidunt. Praesent imperdiet turpis leo, in accumsan nisi dapibus vitae. Aliquam non ipsum vulputate, pulvinar ligula in, auctor sem.
                    </p>    
                </div>
                <div class="row">
                    <div class = "col-md-3 col-sm-12">
                        <img src = "images/diagram2.png" style="width:300px;"> 
                    </div>
                    <div class = "col-md-3 col-sm-12">
                        <img src = "images/diagram1.png" style="width:300px;"> 
                    </div>
                    <div class = "col-md-3 col-sm-12">
                        <img src = "images/diagram3.png" style="width:300px;"> 
                    </div>
                </div>
            </div>

        </div>
    </div>
    <%- include('partials/footer'); %>  
</body>
</html>