<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="/styles.css" rel="stylesheet">
    <link href="/bootstrap.css" rel="stylesheet" >
    

</head>

<body>
    <div class="container-fluid background">
        <div class= "container background">

            <%- include('partials/navbar'); %>
            <div class= "container background">
                <div class = "row">
                    <div class = "col-md-2 col-sm-1 border ">
                        <h2 >
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Curabitu.
                        </h2>
                    </div>
                    <div class = "col">
                        <h2>
                            Quisque viverra nunc velit, et imperdiet diam tincidunt ut. Curabitur accumsan arcu dui, id accumsan nulla volutpat at. Donec cursus tellus arcu, in tincidunt ligula imperdiet id. Nulla facilisi. Donec placerat lorem nec urna vestibulum vestibulum. Cras tristique sit amet ex in vestibulum. Duis est nulla, consequat vitae metus vitae, tincidunt condimentum dui. Donec tincidunt orci lobortis mi convallis, id iaculis ligula condimentum. Phasellus pharetra suscipit sapien.
                        </h2>
                    </div>
                    <div class = "row">
                        <div class = "col">
                            <h3 class="margin-sides-50">
                                Aliquam eget viverra ipsum. Proin accumsan dapibus interdum. Vivamus luctus laoreet arcu, id laoreet ipsum dapibus non. Phasellus accumsan sapien id urna ultrices, non efficitur velit imperdiet. Vestibulum maximus mattis egestas. Praesent congue elementum ligula vitae commodo. Suspendisse feugiat vulputate dolor eu porta. In ultricies mi non magna ultricies, eget pellentesque urna consequat. Nullam eu arcu aliquet, sagittis quam et, vestibulum magna.
                            </h3>
                        </div>
                    </div>
                    <div class = "col">
                        <p class = "margin-top-50">
                            Ut et arcu id lorem hendrerit pellentesque. Pellentesque sed ultrices diam, ut faucibus sem. Phasellus et eleifend lectus, in iaculis ligula. Integer nec volutpat eros, eget dictum nisi. Donec purus turpis, cursus eget ante accumsan, sollicitudin hendrerit neque. Aliquam consectetur fringilla sodales. Sed arcu nisl, condimentum in venenatis vel, volutpat iaculis ex. Suspendisse dapibus aliquet ipsum, a ultrices lorem mattis congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>


        <%- include('partials/footer'); %>


</body>
</html>