<!DOCTYPE html>
<html lang="en">

<head>
    <title>People</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="/styles.css" rel="stylesheet">
    <link href="/bootstrap.css" rel="stylesheet" >
    

</head>

<body>
    <div class="container-fluid background">
        <div class= "container background">

            <%- include('partials/navbar'); %>
            <div class= "container background">

                <div class = "row">
                    <div class = "col">
                        <h1>People</h1>
                    </div> 
                </div>
                <div class=row>
                    <div class="col-md-6 row-sm-12">
                        <section class="people_border">
                            <div class = "row">
                                <div class = "row">
                                    <h3>Dr. Frogburt</h1>
                                </div> 
                                <div class = "row">
                                        <img src="images/dr_frog.jpg" style="width:200px; margin-left:10px">
                                </div> 
                            </div>
                            <div class = "row"> 
                                <div class = "col">
                                <p> Aliquam eget viverra ipsum. Proin accumsan dapibus interdum. Vivamus luctus laoreet arcu, id laoreet ipsum dapibus non. Phasellus accumsan sapien id urna ultrices, non efficitur velit imperdiet. Vestibulum maximus mattis egestas. Praesent congue elementum ligula vitae commodo. Suspendisse feugiat vulputate dolor eu porta. In ultricies mi non magna ultricies, eget pellentesque urna consequat. Nullam eu arcu aliquet, sagittis quam et, vestibulum magna. 
                                </p>
                                </div> 
                            </div>
                        </section>
                    </div>

                    <div class = "col-md-6 row-sm-12">
                        <section class="people_border">
                            <div class = "row">
                                <div class = "row">
                                    <h3>Dr. Frogburt</h1>
                                </div> 
                                <div class = "row">
                                        <img src="images/dr_frog.jpg" style="width:200px; margin-left:10px">
                                </div> 
                            </div>
                            <div class = "row"> 
                                <div class = "col">
                                <p> Aliquam eget viverra ipsum. Proin accumsan dapibus interdum. Vivamus luctus laoreet arcu, id laoreet ipsum dapibus non. Phasellus accumsan sapien id urna ultrices, non efficitur velit imperdiet. Vestibulum maximus mattis egestas. Praesent congue elementum ligula vitae commodo. Suspendisse feugiat vulputate dolor eu porta. In ultricies mi non magna ultricies, eget pellentesque urna consequat. Nullam eu arcu aliquet, sagittis quam et, vestibulum magna. 
                                </p>
                                </div> 
                            </div>
                        </section>
                    </div>

                </div>
                <div class=row>
                    <div class="col-md-6 row-sm-12">
                        <section class="people_border">
                            <div class = "row">
                                <div class = "row">
                                    <h3>Dr. Frogburt</h1>
                                </div> 
                                <div class = "row">
                                        <img src="images/dr_frog.jpg" style="width:200px; margin-left:10px">
                                </div> 
                            </div>
                            <div class = "row"> 
                                <div class = "col">
                                <p> Aliquam eget viverra ipsum. Proin accumsan dapibus interdum. Vivamus luctus laoreet arcu, id laoreet ipsum dapibus non. Phasellus accumsan sapien id urna ultrices, non efficitur velit imperdiet. Vestibulum maximus mattis egestas. Praesent congue elementum ligula vitae commodo. Suspendisse feugiat vulputate dolor eu porta. In ultricies mi non magna ultricies, eget pellentesque urna consequat. Nullam eu arcu aliquet, sagittis quam et, vestibulum magna. 
                                </p>
                                </div> 
                            </div>
                        </section>
                    </div>

                    <div class = "col-md-6 row-sm-12">
                        <section class="people_border">
                            <div class = "row">
                                <div class = "row">
                                    <h3>Dr. Frogburt</h1>
                                </div> 
                                <div class = "row">
                                        <img src="images/dr_frog.jpg" style="width:200px; margin-left:10px">
                                </div> 
                            </div>
                            <div class = "row"> 
                                <div class = "col">
                                <p> Aliquam eget viverra ipsum. Proin accumsan dapibus interdum. Vivamus luctus laoreet arcu, id laoreet ipsum dapibus non. Phasellus accumsan sapien id urna ultrices, non efficitur velit imperdiet. Vestibulum maximus mattis egestas. Praesent congue elementum ligula vitae commodo. Suspendisse feugiat vulputate dolor eu porta. In ultricies mi non magna ultricies, eget pellentesque urna consequat. Nullam eu arcu aliquet, sagittis quam et, vestibulum magna. 
                                </p>
                                </div> 
                            </div>
                        </section>
                    </div>

                </div>
                <div class=row>
                    <div class="col-md-6 row-sm-12">
                        <section class="people_border">
                            <div class = "row">
                                <div class = "row">
                                    <h3>Dr. Frogburt</h1>
                                </div> 
                                <div class = "row">
                                        <img src="images/dr_frog.jpg" style="width:200px; margin-left:10px">
                                </div> 
                            </div>
                            <div class = "row"> 
                                <div class = "col">
                                <p> Aliquam eget viverra ipsum. Proin accumsan dapibus interdum. Vivamus luctus laoreet arcu, id laoreet ipsum dapibus non. Phasellus accumsan sapien id urna ultrices, non efficitur velit imperdiet. Vestibulum maximus mattis egestas. Praesent congue elementum ligula vitae commodo. Suspendisse feugiat vulputate dolor eu porta. In ultricies mi non magna ultricies, eget pellentesque urna consequat. Nullam eu arcu aliquet, sagittis quam et, vestibulum magna. 
                                </p>
                                </div> 
                            </div>
                        </section>
                    </div>

                    <div class = "col-md-6 row-sm-12">
                        <section class="people_border">
                            <div class = "row">
                                <div class = "row">
                                    <h3>Dr. Frogburt</h1>
                                </div> 
                                <div class = "row">
                                        <img src="images/dr_frog.jpg" style="width:200px; margin-left:10px">
                                </div> 
                            </div>
                            <div class = "row"> 
                                <div class = "col">
                                <p> Aliquam eget viverra ipsum. Proin accumsan dapibus interdum. Vivamus luctus laoreet arcu, id laoreet ipsum dapibus non. Phasellus accumsan sapien id urna ultrices, non efficitur velit imperdiet. Vestibulum maximus mattis egestas. Praesent congue elementum ligula vitae commodo. Suspendisse feugiat vulputate dolor eu porta. In ultricies mi non magna ultricies, eget pellentesque urna consequat. Nullam eu arcu aliquet, sagittis quam et, vestibulum magna. 
                                </p>
                                </div> 
                            </div>
                        </section>
                    </div>

                </div>
                


            </div>

        </div>
    </div>
    <%- include('partials/footer'); %>
</body>
</html>